body {
    background-color: #C2B28F;
}




#fondoJuego {
    /* background-color: #aaaaaa; */
    background-image: url("../img/pizarra.jpg");
    width: 800px;
    height: 500px;
    background-size: 100% 100%;
    margin-top: 5%;
    position: relative;
    top: 100px;
}

#estudiante {
    background-image: url("../img/estudiante.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    /* background-color: hotpink; */
    position: absolute;
    top: 430px;
    left: 320px;
    display: none;
}

.clase {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    position: absolute;
}

#clase1 {
    background-image: url("../img/php.png");
    top: 0px;
    left: 40px;
    display: none;
}

#clase2 {
    background-image: url("../img/javascript.png");
    left: 320px;
    top: 0px;
    display: none;
}

#clase3 {
    background-image: url("../img/html.png");
    left: 700px;
    top: 0px;
    display: none;
}

#bomb {
    background-image: url("../img/bomb.png");
    left: 200px;
    top: 0px;
    display: none;
}
#bomb2 {
    background-image: url("../img/bomb.png");
    left: 500px;
    top: 0px;
    display: none;
}

.bomb {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    position: absolute;
}

#contador {
    right: 20px;
    background-color: #cc6b49;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0px;
    color: black;
    text-align: center;
    border-color: #6f5643 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border-color: rgb(218, 32, 119) !important; */
}

#puntuacion {

    left: 19px;
    background-color: #cc6b49;
    width: 100px;
    height: 50px;
    top: 0px;
    position: absolute;
    color: black;
    text-align: center;
    border-color: #6f5643 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border-color: rgb(32, 91, 218) !important; */
}

#empezar {

    left: 310px;
    position: absolute;
    width: 200px;
    height: 80px;
    font-size: 50px;
    top: 210px;
    color: black;
    background-position: center;
    background-color: wheat;
    visibility: hidden;
}


#volver {
    border-color: #C2B28F !important;
    color: black;
    position: absolute;
    left: 310px;
    visibility: hidden;
    top: 210px;
}

#difBaja {
    margin-left: 220px;
    background-color: #4B872B;
    border: 0.2px solid #000;
    
    height: 26px;
}

#difMedia {
    background-color: #0090B3;
    border: 0.1px solid #000;
    
    height: 26px;
}
#difDificil {
    background-color: #704289;
    border: 0.1px solid #000;
    
    height: 26px;
}
#difMuyDificil {
    background-color: #ED8431;
    border: 0.1px solid #000;
    height: 26px;
}
#difInfierno {
    background-color: #E12E31;
    border: 0.1px solid #000;
    
    height: 26px;
}
.dificultad{
    margin-top: 250px;
    font-weight: bold;
}